body{
    margin: 0px;
    padding: 0px;

    --primary-light: #FFFFFF;
    --secondary-light: #EEEEEE;

    --primary-dark: #080808;
    --secondary-dark: #444444;
}

.large-text {
    font-size: 2em;
}
.medium-text {
    font-size: 1.4em;
}
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}


.diplay-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.flex-justify-between {
    justify-content: space-between;
}

.bordered-light {
    border: solid 1px var(--primary-dark);
    background-color: var(--secondary-light);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 60px;
    padding: 60px;
    gap: 40px;
}